@import url('https://fonts.googleapis.com/css?family=Sawarabi Mincho&display=swap');


body {
    font-family: Sawarabi Mincho, serif;
    background: linear-gradient(90deg, #11176e 80%, #1c1717 100%);
}

.nav-link {
    color: rgb(145, 44, 188);
}

.navbar-nav .nav-link.active {
    color: rgb(194, 2, 2);
}

.navbar-brand img {
    width: 38px;
}

.navbar-toggler {
    background-color: rgb(241, 242, 243);
}

.sabir {
    color: aquamarine;
    background: linear-gradient(270deg, #11176e 80%, #1c1717 100%);
}

.card {
    color: aquamarine;
    background: linear-gradient(270deg, #11176e 80%, #1c1717 100%);
}

.card a {
    text-decoration: none;
    color: aquamarine;
}

.slide-text,
.footer-text {
    color: aquamarine;
    margin: auto auto;
}

footer,
.btn-outline-primary {
    background: linear-gradient(270deg, #11176e 80%, #1c1717 100%);
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: aquamarine;
}

.call-anim {
    animation: myAnim 2s ease 0s 888 normal forwards;
}

@keyframes myAnim {

    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    15% {
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        transform: translateX(-6px) rotate(-1.2deg);
    }
}


@media(max-widht:755px) {
    .carousel-indicators {
        display: none;
    }
}